<h1>SMASH BROS:</h1>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




//USERS
<h3 style="margin-bottom: 0">sbr_users</h3>

<table class="well table success table-bordered">

    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>password_hash</td>
    </tr>

    {{#each sbr_users}}
        <tr>
            <td>{{id}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{password_hash}}</td>
        </tr>
    {{/each}}

</table>

<br><br>


<h3 style="margin-bottom: 0">sbr_roster</h3>

<table class="well table table-border">

    <tr>
        <td>id</td>
        <td>user</td>
        <td>name</td>
        <td>rating</td>
        <td>number_of_ratings</td>
    </tr>

    {{#each sbr_roster}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
        </tr>
    {{/each}}

</table>

<br><br>



//Comments on the roster
<h3 style="margin-bottom: 0">sbr_roster</h3>

<table class="well table table-border">

    <tr>
        <td>id</td>
        <td>user</td>
        <td>name</td>
        <td>rating</td>
        <td>number_of_ratings</td>
    </tr>

    {{#each sbr_roster}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
        </tr>
    {{/each}}

</table>

<br><br>



//Characters
<h3 style="margin-bottom: 0">sbr_roster</h3>

<table class="well table table-border">

    <tr>
        <td>id</td>
        <td>user</td>
        <td>name</td>
        <td>rating</td>
        <td>number_of_ratings</td>
    </tr>

    {{#each sbr_roster}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
        </tr>
    {{/each}}

</table>

<br><br>

//Comments on the characters
<h3 style="margin-bottom: 0">sbr_roster</h3>

<table class="well table table-border">

    <tr>
        <td>id</td>
        <td>user</td>
        <td>name</td>
        <td>rating</td>
        <td>number_of_ratings</td>
    </tr>

    {{#each sbr_roster}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
        </tr>
    {{/each}}

</table>


<br><br>


