<h1>Smash Bros:</h1>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<h3 style="margin-bottom: 0">sbr_users</h3>

<!-- User -->

<table class="well table table-bordered">

    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>password_hash</td>
    </tr>

    {{#each sbr_users}}
        <tr>
            <td>{{id}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{password_hash}}</td>
        </tr>
    {{/each}}

</table>

<br>

<!-- Roster -->

<h3 style="margin-bottom: 0">sbr_roster</h3>

<table class="well table table-bordered">

    <tr>
        <td>id</td>
        <td>user</td>
        <td>name</td>
        <td>rating</td>
        <td>number_of_ratings</td>
    </tr>

    {{#each sbr_roster}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
        </tr>
    {{/each}}

</table>

<br>

<!-- Roster character -->

<h3 style="margin-bottom: 0">sbr_roster_character</h3>

<table class="well table table-bordered">

    <tr>
        <td>roster</td>
        <td>character</td>
        <td>ord_num</td>
    </tr>

    {{#each sbr_roster_character}}
        <tr>
            <td>{{roster}}</td>
            <td>{{character}}</td>
            <td>{{ord_num}}</td>
        </tr>
    {{/each}}

</table>

<br>

<!-- Roster Comment -->

<h3 style="margin-bottom: 0">sbr_roster_comment</h3>

<table class="well table table-bordered">

    <tr>
        <td>comment</td>
        <td>user</td>
        <td>roster</td>
        <td>creation_date</td>
    </tr>

    {{#each sbr_roster_comment}}
        <tr>
            <td>{{comment}}</td>
            <td>{{user}}</td>
            <td>{{roster}}</td>
            <td>{{creation_date}}</td>
        </tr>
    {{/each}}

</table>

<br>

<!-- Characters -->

<h3 style="margin-bottom: 0">sbr_character</h3>

<table class="well table table-bordered">

    <tr>
        <td>id</td>
        <td>user</td>
        <td>name</td>
        <td>picture</td>
        <td>description</td>
        <td>moves</td>
        <td>rating</td>
        <td>num_of_ratings</td>
    </tr>

    {{#each sbr_character}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{name}}</td>
            <td>{{picture}}</td>
            <td>{{description}}</td>
            <td>{{moves}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
        </tr>
    {{/each}}

</table>

<br>

<!-- Character comments -->

<h3 style="margin-bottom: 0">sbr_character_comment</h3>

<table class="well table table-bordered">

    <tr>
        <td>id</td>
        <td>comment</td>
        <td>user</td>
        <td>character</td>
        <td>creation_date</td>
    </tr>

    {{#each sbr_character_comment}}
        <tr>
            <td>{{id}}</td>
            <td>{{comment}}</td>
            <td>{{user}}</td>
            <td>{{character}}</td>
            <td>{{creation_date}}</td>
        </tr>
    {{/each}}

</table>
