<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<html>
<h3>Add new roster:</h3>
<form id="addroster" action="/roster" method="post" class="well">
    User: <select name="user">
    {{#each sbr_users}}
        <option value="{{id}}">{{username}}</option>
    {{/each}}
    </select><br>

    Name: <input type="text" name="name"><br>

    <input type="submit" value="Submit">
 </form>


<h3>Current roster:</h3>
<table class="well table table-bordered">
    <thead> 
        <th>User</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Number of Rating</th>
        <th></th>
        <!--<th></th>-->
    </thead> 
    <tbody> 
        {{#each sbr_roster}}
        <tr> 
            <td>{{username}}</td>
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{number_of_ratings}}</td>
            <td><button onclick="deleteroster({{id}})">Delete</button></td>
            <!--<td><a href="">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table>


<br><br>


<h3>Add new comment:</h3>
<form id="addcomment" action="/roster/comment" method="post" class="well">
    User:
    <select name="user">
        {{#each sbr_users}}
            <option value="{{id}}">{{username}}</option>
        {{/each}}
    </select><br>

    Comment: <input type="text" name="comment"><br>

    Roster:
    <select name="roster">
        <option value="null">NULL</option>
        {{#each sbr_roster}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>

    <input type="submit" value="Submit">
</form>

<br/>
<h3>Current Roster Comments:</h3>
<table class="well table table-bordered">
    <thead>
    <th>User</th>
    <th>Comment</th>
    <th>Roster</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    {{#each sbr_roster_comment}}
        <tr>
            <td>{{username}}</td>
            <td>{{comment}}</td>
            <td>{{name}}</td>
            <td><button onclick="deleterostercomment({{comment_id}})">Delete</button></td>
            <td><a href="/roster/comment/{{comment_id}}">Update</a></td>
        </tr>
    {{/each}}
    </tbody>


</table>








</html>
