<html>

    <h3>Update comment:</h3>
    <form id="update-character-comment">

        User: {{sbr_character_comment.username}}
        <input type="hidden" name="user" value="{{sbr_character_comment.userID}}">

        <br>

        Comment: <input type="text" name="comment" value="{{sbr_character_comment.comment}}">

        <br>

        Character: {{sbr_character_comment.name}}
        <input type="hidden" name="character" value="{{sbr_character_comment.characterID}}">

        <br>

        <button onclick="updateCharacterComment({{sbr_character_comment.commentID}})">Update</button>

    </form>

</html>