<html>
<h3>Update Roster-Character:</h3>
<form id="update-roster-character" action="/roster/comment" method="put">
    User: {{sbr_roster_comment.username}}
    <input type="hidden" name="user" value="{{sbr_roster_comment.userID}}">

    <br>

    Comment: <input type="text" name="comment" value="{{sbr_roster_comment.comment}}">

    <br>

    Roster: {{sbr_roster_comment.name}}
    <select name="roster">
        <option value="null">NULL</option>
        {{#each sbr_roster}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>

    <button onclick="updateRosterComment({{sbr_roster_comment.commentID}})">Update</button>
</form>


</html>