<html>
<h3>Update Roster-Character:</h3>
<form id="update-roster-character" action="/roster/character" method="put">
    Roster: {{sbr_roster_character.rosterName}}
    <input type="hidden" name="roster" value="{{sbr_roster_character.rosterID}}">

    <br>

    Character: {{sbr_roster_character.characterName}}
    <select name="character">
        {{#each sbr_character}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>

    <button onclick="updateRosterCharacter({{sbr_roster_character.roster}}, {{sbr_roster_character.character}})">Update</button>
</form>


</html>