<html>

    <h3>Update comment:</h3>
    <form id="update-character-comment">

        User: {{sbr_character_comment.username}}
        <input type="hidden" name="user" value="{{sbr_character_comment.userID}}">

        <br>

        Comment: <input type="text" name="comment" value="{{sbr_character_comment.comment}}">

        <br>

        Character: {{sbr_character_comment.name}}
        <select name="character">
            <option value="null">NULL</option>
            {{#each sbr_character}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select><br>

        <br>

        <button onclick="updateCharacterComment({{sbr_character_comment.commentID}})">Update</button>

    </form>

</html>